<loading ng-show="loading" margin="10"></loading>
<div ng-hide="loading" class="card">
    <div class="card-header-main">
        <div class="float-left small">
            <a class="btn btn-info" href ng-click="back()">
                <i class="fa fa-chevron-left"></i>
            </a>
        </div>
        <div class="card-custom-title not-selectable">{{(resultGame == 'winner') ? 'Ganaste :)':'Perdiste :('}}</div>
    </div>
    <div class="card-body" style="margin-top: 30px;">
        <div class="row">
            <div class="col-4">
                <div class="image text-center">
                    <img ng-src="{{user.userImage}}" class="img-thumbnail" />
                </div>
                <h4 class="text-center">{{user.name}}</h4>
            </div>
            <div class="col-4">
                <h1 class="text-center" style="margin-top: 20px;">{{marker}}</h1>
            </div>
            <div class="col-4">
                <div class="image text-center">
                    <img src="{{opponent.userImage}}" class="img-thumbnail" />
                </div>
                <h4 class="text-center">{{opponent.name}}</h4>
            </div>
        </div>
        <div class="text-center" ng-show="resultGame == 'winner'" style="color: #30a71b;">
            Ganaste!&nbsp;&nbsp;Recibes <strong>+{{experience}}</strong> de experiencia, <strong>+1</strong> victoria. Sigue así!
        </div>
        <div class="text-center" ng-show="resultGame == 'loser'" style="color: #ec7b7b;">
            Perdiste!&nbsp;&nbsp;Recibes <strong>+{{experience}}</strong> de experiencia. No te rindas, sigue adelante!
        </div>
    </div>
</div>
<a ng-hide="loading" href ng-click="showLastRound()" class="btn btn-success btn-lg btn-custom">
    Ver rounds
</a>